{% extends "public/layout.html" %}


{% block breadcrumb %}
<li><a href="#">用户管理</a><span class="divider"></span></li>
<li class="active">用户列表</li>
{% endblock %}

{% block body %}
<table class="table table-striped">
    <caption>
                <div class="col-md-8">
                    <button class="btn btn-primary" id="create-user-id">创建用户</button>
                </div>
      <div class="col-md-4">
        <form class="form-inline">
          <div class="form-group">
            <div class="input-group">
              <input type="text" name="search_username" value="{{ search_username }}" class="form-control" >
            </div>
          </div>
          <button type="submit" class="btn btn-primary">搜索</button>
        </form>
      </div>
    </caption>
    <thead>
        <tr>
            <th>用户名</th>
            <th>中文名</th>
            <th>email</th>
            <th>电话</th>
            <th>微信号</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>最后登陆时间</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for user_obj in object_list %}
        <tr>
            <td>{{ user_obj.username }}</td>
            <td>{{ user_obj.profile.name}}</td>
            <td>{{ user_obj.email }}</td>
            <td>{{ user_obj.profile.phone }}</td>
            <td>{{ user_obj.profile.weixin }}</td>
            <td class="status">
                {% if user_obj.is_active %}
                    <span class="glyphicon glyphicon-ok-circle text-success"></span>正常
                {% else %}
                    <span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止
                {% endif %}
            </td>
            <td>{{ user_obj.date_joined|date:"Y-m-d H:i:s"}}</td>
            <td>{{ user_obj.last_login|date:"Y-m-d H:i:s" }}</td>
            <td>
                <div class="btn-group">
                    <div class="btn-group">
                        <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            修改
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="" data='{"uid": "{{ user_obj.id }}", "username": "{{ user_obj.username }}" }' class="user_to_group">添加到指定组</a></li>
                        </ul>
                    </div>
                    {% if user_obj.is_active %}
                        <button type="button" class="btn btn-sm btn-warning modify_user_status" status={{ user_obj.is_active|lower  }} data="{{ user_obj.id }}">禁用</button>
                    {% else %}
                        <button type="button" class="btn btn-info btn-sm modify_user_status" status={{ user_obj.is_active|lower }} data="{{ user_obj.id }}">开启</button>
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="panel-default">
	<center>
		<ul class="pagination">
			<li><a href="{{ request.path }}?page=1{{ search_data }}">首页</a></li>
			{% if page_obj.has_previous %}
				<li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}{{ search_data }}">上一页</a></li>
			{% else %}
				<li class="previous disabled"><a>上一页</a></li>
			{% endif %}

			{% for i in page_range %}
				<li {% if page_obj.number == i %}class="active"{% endif %}><a href="{{ request.path }}?page={{ i }}{{ search_data }}">{{ i }}</a></li>
			{% endfor %}

			{% if page_obj.has_next %}
				<li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}{{ search_data }}">下一页</a></li>
			{% else %}
				<li class="previous disabled"><a>下一页</a></li>
			{% endif %}
			<li><a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}{{ search_data }}">末页</a></li>
		</ul>
	</center>
</div>

<!-- 添加用户到组的模态框 -->
<div class="modal fade" id="user_to_group_modal" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 id="user_to_group_modal_title"></h4>
            </div>
            <div class="modal-body clearfix">
                <div class="col-xs-8" id="select_service_id">
                    <select class="chosen-select chosen-transparent form-control" id="all_user_group">
                    </select>
                </div>
                <button class="btn btn-primary" id="user_to_group_btn">提交</button>
            </div>
            <div class="modal-footer">

                <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
            </div>

        </div>
    </div>
</div>

<!-- 新增用户模态框 -->
<div class="modal fade" id="create-user-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body clearfix">
    <form class="form-horizontal" role="form" parsley-validate id="create_user_form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">用户名*</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="username" name="username" parsley-required="true" parsley-minlength="2"  autocomplete="off" >
            </div>
        </div>

        <div class="form-group">
            <label for="name" class="col-sm-2 control-label">中文名*</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="name" name="name" parsley-required="true" autocomplete="off" >
            </div>
        </div>

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">email *</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="email" name="email" parsley-required="true" autocomplete="off" >
            </div>
        </div>

        <div class="form-group">
            <label for="phone" class="col-sm-2 control-label">电话 *</label>
            <div class="col-sm-8">
                <input type="text" class="form-control"  id="phone" name="phone" parsley-required="true" autocomplete="off" >
            </div>
        </div>

        <div class="form-group">
            <label for="weixin" class="col-sm-2 control-label">微信号 *</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="weixin" name="weixin" parsley-required="true" autocomplete="off" >
            </div>
        </div>

        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">密码 *</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" id="password" name="password" parsley-required="true" autocomplete="off" >
            </div>
        </div>

        <div class="form-group form-footer">
            <div class="col-sm-offset-4 col-sm-8">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-default">重置</button>
            </div>
        </div>
    </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
            </div>

        </div>
    </div>
</div>






{% endblock %}

{% block js %}
<script>
function change_user_status(status_td_obj, status){
    if (status == "true"){
        status_td_obj.html('<span class="glyphicon glyphicon-warning-sign text-warning"></span>禁止')
    }else{
        status_td_obj.html('<span class="glyphicon glyphicon-ok-circle text-success"></span>正常')
    }
}


$(function(){
    $(".chosen-select").chosen({disable_search_threshold: 2});

	$(".modify_user_status").click(function(){
        var click_obj = $(this);
        var uid = click_obj.attr('data');
        var status = click_obj.attr('status');

        $.ajax({
            url: "{% url 'user_modify_status' %}",
            type: "POST",
            data: {"uid": uid},
            success: function (res) {
                if (res.status != 0){
                    swal("操作失败", res.errmsg, "error")
                }else{
                    if (status == "true"){
                        click_obj.attr("status", "false").text("开启");
                        click_obj.removeClass("btn-warning").addClass("btn-info");
                    }else{
                        click_obj.attr("status", "true").text("禁用");
                        click_obj.removeClass("btn-info").addClass("btn-warning");
                    }
                }
                status_obj = click_obj.parents('td').siblings('.status');
                change_user_status(status_obj, status)
            },
            beforeSend: function (xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

        return false
    });

    // 将用户添加到指定组
    var uid ;           // 当前操作的用户id
    var user_to_group_modal = $("#user_to_group_modal");    // 将用户添加到指定组 模态窗
    var all_user_group = $("#all_user_group"); // 将用户添加到指定组  select
    var user_group_url = "{% url 'user_modify_group' %}";
    $(".user_to_group").click(function(){
        var data = $.parseJSON($(this).attr("data"));
        uid = data.uid;
        $("#user_to_group_modal_title").html("将用户 <b>" + data.username + "</b> 添加到指定组里");
        user_to_group_modal.modal('show');
        $.get(user_group_url, {'uid': uid}, function(res){
            html = "<option value=0 >请选择用户组</option>";
            $.each(res, function(i, obj){
                html += '<option value="'+ obj.id +'"> '+obj.name+'</option>';
            });
            all_user_group.html(html);
            $('#all_user_group_chosen').css('width','100%')
            all_user_group.trigger("chosen:updated")
        });
        return false;
    });


    // 将用户添加到指定组
    $("#user_to_group_btn").click(function(){
        groupid = all_user_group.val();
        user_to_group_modal.modal('hide');
        $.ajax({
            url: user_group_url,
            type: "put",
            data: {"uid": uid, "gid": groupid},
            success: function (res) {
                if (res.status != 0){
                    swal("操作失败", res.errmsg, "error")
                }else{
                    swal("操作成功", '', "success")
                }
            },
            beforeSend: function (xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });

    });
})
  // 创建用户模态框显示
  $("#create-user-id").click(function(){
      var createmodal=$("#create-user-modal");
      createmodal.modal("show");
})

 // 添加用户提交
  $("#create_user_form").on("submit", function () {
      var str = $('#create_user_form').serialize();
      console.log(str)
      $.ajax({
        url:"{% url 'user_add' %}",
        type:"post",
        data:str,
        success: function (res) {
            if(res.status == 0){
                swal({
                    "title": "用户添加成功",
                    "text": "",
                    "type": "success"
                }, function(){
                    setTimeout(function(){
                        window.location.reload();
                    },100)
                });
            }else {
                swal(res.errmsg)
            }
        }
      })
      return false;  // 没有这个会原来的from也会再提交一次
  })

</script>
{% endblock %}
