{% extends "public/layout.html" %}

{%  block body %}
<table class="table table-striped">
    <caption>
        {% if perms.issue.add_issuerecord %}
        <div class="col-md-1">
            <button class="btn btn-primary" id="create-issue">新增发布</button>
        </div>
        {% endif %}

        <div class="col-md-10">
            <form class="form-inline" id="select_form" action="{% url 'issue_record_list' %}" method="get">
                <!--工程名查询-->
              <div class="form-group">
                <label for="exampleInputName2">工程名</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="工程名搜索" name="search_project" value="{{ search_project }}">
              </div>
                <!--发布内容查询-->
              <div class="form-group">
                <label for="search_issue_content">发布内容</label>
                <input type="text" class="form-control" id="search_issue_content" placeholder="发布内容搜索" name="search_issue_content" value="{{ search_issue_content }}">
              </div>
                <!--开始时间-->
			  <div class="form-group">
                <label for="dtp_input2" class="control-label">开始时间</label>
                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="17" type="text" value="{{ start_date }}" readonly name="start_date">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="dtp_input2" value="" /><br/>
              </div>
                <!--结束时间-->
              <div class="form-group">
                <label for="dtp_input2" class="control-label">结束时间</label>
                <div class="input-group date form_date " data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    <input class="form-control" size="17" type="text" value="{{ end_date }}" name="end_date" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
				<input type="hidden" id="dtp_input3" value="" /><br/>
              </div>
            <button class="btn btn-primary" id="searchBtn">查询</button>
          </form>
        </div>
        {% if perms.issue.export_issue %}
        <div class="col-md-1">
            <button class="btn btn-primary" id="export_exel" >导出excel</button>
        </div>
        {% endif %}
    </caption>
    <thead>
        <tr>
            <th>#</th>
            <th>工程名</th>
            <th>发布项目\BUG(同禅道)</th>
            <th>开发人员</th>
            <th>测试人员</th>
            <th class="td_hiden">发布人员</th>
            <th>发布状态</th>
            <th>发布时间</th>
            <th>svn路径</th>
            <th>备注</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
      <tr>
          <td>{{ forloop.counter}}</td>
          <td>{{ object.project_name }}</td>
          <td>{{ object.issue_content }}</td>
          <td>{{ object.dev_person }}</td>
          <td>{{ object.test_person }}</td>
          <td class="td_hiden">{{ object.issue_person }}</td>
            <td class="status">
                {% if object.issue_status == "1" %}
                    <span class="glyphicon glyphicon-ok-circle text-success"></span>已发布
                {% elif object.issue_status == "0" %}
                    <span class="glyphicon glyphicon-warning-sign text-warning"></span>待发布
                {% elif object.issue_status == "2" %}
                    <span class="glyphicon glyphicon-warning-sign text-danger"></span>已回滚
                {% endif %}
            </td>
          <td>{{ object.issue_time|date:"Y-m-d H:i:s" }}</td>
          <td>
                <button type="button" class="btn btn-sm btn-primary svn-button" data="{{ object.svn_path }}">显示</button>
          </td>
          <td>
              {% if object.remark %}
                <button type="button" class="btn btn-sm btn-primary remark-button" data="{{ object.remark }}">显示</button>
              {% else %}
                 -
              {% endif %}

          </td>
          <td>
                <div class="btn-group">
                    {% if perms.issue.change_issuerecord %}
                    {% if object.issue_status == "1" %}
                        <button type="button" class="btn btn-sm btn-warning modify_issue_status" data="{{ object.id }}">回滚</button>
                    {% else %}
                        <button type="button" class="btn btn-info btn-sm modify_issue_status"  data="{{ object.id }}">发布</button>
                    {% endif %}

                    <button type="button" class="btn btn-sm btn-default change_issue" data="{{ object.id }}">修改</button>
                    {% endif %}

                    {% if perms.issue.delete_issuerecord %}
                    <button type="button" class="btn btn-sm btn-danger delete_issue"  data="{{ object.id }}">删除</button>
                    {% endif %}
                    {% if perms.issue.add_issuerecord %}
                    <button type="button" class="btn btn-sm btn-primary clone_issue"  data="{{ object.id }}">克隆</button>
                    {% endif %}
                </div>
          </td>
      </tr>
    {% endfor %}
    </tbody>
</table>

<!--分页设置-->
<div class="panel-default">
	<center>
		<ul class="pagination">
			<li><a href="{{ request.path }}?page=1{{ search_data }}">首页</a></li>
			{% if page_obj.has_previous %}
				<li><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}{{ search_data }}">上一页</a></li>
			{% else %}
				<li class="previous disabled"><a>上一页</a></li>
			{% endif %}

			{% for i in page_range %}
				<li {% if page_obj.number == i %}class="active"{% endif %}><a href="{{ request.path }}?page={{ i }}{{ search_data }}">{{ i }}</a></li>
			{% endfor %}

			{% if page_obj.has_next %}
				<li><a href="{{ request.path }}?page={{ page_obj.next_page_number }}{{ search_data }}">下一页</a></li>
			{% else %}
				<li class="previous disabled"><a>下一页</a></li>
			{% endif %}
			<li><a href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}{{ search_data }}">末页</a></li>

            <li><a>共有{{ paginator.count }}条发布记录</a></li>

		</ul>
	</center>
</div>


<!--添加发布弹出框-->
<div class="modal fade" id="create-issue-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 id="user_to_group_modal_title"> 新增发布</h4>
            </div>
            <div class="modal-body clearfix">
                <form class="form-horizontal modal-form-id" role="form" parsley-validate id="add_issue_form" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="project_name" class="col-sm-2 control-label">工程名*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="project_name" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="add_project_name" value="" placeholder="工程名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="issue_content" class="col-sm-2 control-label">发布项目*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="issue_content" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="add_issue_content" value="" placeholder="与禅道系统保持一致" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dev_person" class="col-sm-2 control-label">开发人员*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="dev_person" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="add_dev_person" value="" placeholder="开发人员名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="test_person" class="col-sm-2 control-label">测试人员*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="test_person"   autocomplete="off" id="add_test_person" value={{ user.profile.name }} >
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="issue_person" class="col-sm-2 control-label">发布人员*</label>
                        <div class="col-sm-8">
                            <!--<input type="text" class="form-control modal-form" name="issue_person" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="add_issue_person" value="">-->
                            <select class="form-control" id="add_issue_person" name="issue_person">
                                {% for user in issue_names %}
                                    <option>{{ user.profile.name }} </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="svn_path" class="col-sm-2 control-label">svn路径*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="svn_path" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="add_svn_path" value="" placeholder="http://svn_path">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="remark"   autocomplete="off" id="add_remark" value="" >
                        </div>
                    </div>
                   <div class="form-group form-footer">
                     <div class="col-sm-offset-4 col-sm-8">
                     <button type="submit" class="btn btn-primary">提交</button>
                     <button type="reset" class="btn btn-default">重置</button>
                     </div>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
            </div>

        </div>
    </div>
</div>

<!--修改弹出框-->
<div class="modal fade" id="change-issue-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4> 修改发布</h4>
            </div>
            <div class="modal-body clearfix">
                <form class="form-horizontal modal-form-id" role="form" parsley-validate id="change_issue_form" method="post" >
                {% csrf_token %}
                        <input type="text" class="form-control modal-form hidden" name="id" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="project_id" >
                    <div class="form-group">
                        <label for="project_name" class="col-sm-2 control-label">工程名*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="project_name" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="project_name" placeholder="工程名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="issue_content" class="col-sm-2 control-label">发布项目*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="issue_content" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="issue_content" placeholder="与禅道系统保持一致">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dev_person" class="col-sm-2 control-label">开发人员*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="dev_person" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="dev_person" value="" placeholder="开发人员名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="test_person" class="col-sm-2 control-label">测试人员*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="test_person" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="test_person" value="" placeholder="默认为登录人员">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="issue_person" class="col-sm-2 control-label">发布人员*</label>
                        <div class="col-sm-8">
                            <!--<input type="text" class="form-control modal-form" name="issue_person" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="issue_person" value="">-->
                            <select class="form-control" id="issue_person" name="issue_person">
                                {% for user in issue_names %}
                                    <option>{{ user.profile.name }} </option>
                                {% endfor %}
                            </select>
                        </div>



                    </div>
                    <div class="form-group">
                        <label for="svn_path" class="col-sm-2 control-label">svn路径*</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="svn_path" parsley-required="true" parsley-minlength="2"  autocomplete="off" id="svn_path" value="" placeholder="http://svn_path">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remark" class="col-sm-2 control-label">备注</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control modal-form" name="remark"   autocomplete="off" id="remark" value="" >
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="dtp_input_change" class="col-sm-2 control-label">修改时间</label>
                        <div class="input-group date form_datetime col-sm-8" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input_change" data-link-format="yyyy-mm-dd">
                            <input id="issue_time" class="form-control" size="15" type="text"  readonly name="issue_time">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
					        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
				        <input type="hidden" id="dtp_input_change" value="" />
                    </div>


                   <div class="form-group form-footer">
                     <div class="col-sm-offset-4 col-sm-8">
                     <button type="submit" class="btn btn-primary">提交</button>
                     <button type="reset" class="btn btn-default">重置</button>
                     </div>
                   </div>
                </form>
            </div>
            <div class="modal-footer">
                <input class="btn btn-default" data-dismiss="modal" aria-hidden="true" type="button" value="取消">
            </div>

        </div>
    </div>
</div>



{% endblock %}

{% block js %}
<script>
  //隐藏发布人员
  //测试冲突
  //master branch
  $('.td_hiden').hide()
    //日历js
  $('.form_date').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		minView: 2,
		forceParse: 0
  });

    $(".form_datetime").datetimepicker({
        language:  'zh-CN',
        autoclose: 1,
        format: 'yyyy-mm-dd hh:ii'});


  // 新增发布模态框展示
  $("#create-issue").click(function(){
      //$(".modal-form").val("")   //输入框的值设为空
      $("#user_to_group_modal_title").text("新增发布") //修改标题
      $(".modal-form-id").attr("id","add_issue_form")  // 修改id属性值
      var createmodal=$("#create-issue-modal");
      createmodal.modal("show");
  })

  // 新增发布提交
  $('#add_issue_form').on('submit',function(){
    var str = $('#add_issue_form').serialize();
    console.log(str)
    //console.log(str)
    $.ajax({
        url:"{% url 'issue_record_add' %}",
        type:"post",
        data:str,
        success: function (res) {
            if(res.status == 0){
                window.location.reload()
            }else {
                swal(res.errmsg)
            }
        }
    })
    return false;
})



  //克隆新增模态框展示：
  $(".clone_issue").click(function() {
      var get_obj = $(this)
      var this_tr = get_obj.parents("tr")
      //console.log(this_tr.find("td:eq(1)").text())
      // 获取当前值
      var project_name = this_tr.find("td:eq(1)").text()
      var issue_content = this_tr.find("td:eq(2)").text()
      var dev_person = this_tr.find("td:eq(3)").text()
      var test_person = this_tr.find("td:eq(4)").text()
      var issue_person = this_tr.find("td:eq(5)").text()
      var svn_path = this_tr.find("td:eq(8)").children().attr("data")
      var remark = this_tr.find("td:eq(9)").children().attr("data")
      //console.log(remark.children().attr("data"))
      //写入到模态框：
      $("#add_project_name").val(project_name)
      $("#add_issue_content").val(issue_content)
      $("#add_dev_person").val(dev_person)
      $("#add_test_person").val(test_person)
      $("#add_issue_person").val(issue_person)
      $("#add_svn_path").val(svn_path)
      $("#add_remark").val(remark)

      //$(".modal-form-id").attr("id","change_issue_form")  // 修改id属性值
      //$("#user_to_group_modal_title").text("修改发布项")
      var createmodal = $("#create-issue-modal");
      createmodal.modal("show");
  })


  // 修改发布模态框展示
  $(".change_issue").click(function(){
      var get_obj = $(this)
      var this_tr = get_obj.parents("tr")
      //console.log(this_tr.find("td:eq(1)").text())
      // 获取当前值
      var issue_id = get_obj.attr("data")
      var project_name = this_tr.find("td:eq(1)").text()
      var issue_content = this_tr.find("td:eq(2)").text()
      var dev_person = this_tr.find("td:eq(3)").text()
      var test_person = this_tr.find("td:eq(4)").text()
      var issue_person = this_tr.find("td:eq(5)").text()
      var issue_time = this_tr.find("td:eq(7)").text()
      var svn_path = this_tr.find("td:eq(8)").children().attr("data")
      var remark = this_tr.find("td:eq(9)").children().attr("data")

      //console.log(remark.children().attr("data"))
      //写入到模态框：
      $("#project_id").val(issue_id)
      $("#project_name").val(project_name)
      $("#issue_content").val(issue_content)
      $("#dev_person").val(dev_person)
      $("#test_person").val(test_person)
      $("#issue_person").val(issue_person)
      $("#issue_time").val(issue_time)
      $("#svn_path").val(svn_path)
      $("#remark").val(remark)

      //$(".modal-form-id").attr("id","change_issue_form")  // 修改id属性值
      //$("#user_to_group_modal_title").text("修改发布项")
      var createmodal=$("#change-issue-modal");
      createmodal.modal("show");

  // 修改发布提交
  $('#change_issue_form').on('submit',function(){
    var str = $('#change_issue_form').serialize();
      //console.log(str)
    $.ajax({
        url:"{% url 'issue_change' %}",
        type:"post",
        data:str,
        success: function (res) {
            if(res.status == 0){
                window.location.reload()
            }else {
                swal(res.errmsg)
            }
        }
    })
    return false;
})



  })



  // 删除发布项目
  $('.delete_issue').click(function () {
      var but_obj = $(this);
      var issue_id = but_obj.attr("data")
      var issur_tr = $(this).parents("tr")

swal({
  title: "确定删除吗?",
  text: "删除后无法找回,请确认!",
  type: "warning",
  showCancelButton: true,
  confirmButtonClass: "btn-danger",
  confirmButtonText: "Yes",
  closeOnConfirm: false
},
function(){
        $.ajax({
          type:"delete",
          data:{"id":issue_id},
          url:"{% url 'issue_record_delete' %}",
          success: function (res) {
              if(res.status == 0){
                  swal("Deleted!", "Your imaginary file has been deleted.", "success");
                  issur_tr.remove()
              }else{
                  swal(res.errmsg)
              }
          },
          beforeSend: function (xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
      })

});
  })

  // 修改项目发布状态
  $('.modify_issue_status').click(function(){
      var but_obj = $(this)
      var issue_id = but_obj.attr("data")
      $.ajax({
          type:"put",
          data:{"id":issue_id},
          url:"{% url 'issue_record_change' %}",
          success: function (res) {
              if(res.status == 0){
                  window.location.reload()
              }else{
                  swal(res.errmsg)
              }
          },
          beforeSend: function (xhr, settings) {
                var csrftoken = getCookie('csrftoken');
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
      })


  })

    // 查询
  $('#searchBtn').click(function(){
      $('#select_form').attr("action","/issue/issue_record/list/");
      $('#select_form').submit();
  });

  // 导出excel按钮
  $('#export_exel').click(function(){
      $('#select_form').attr("action","/issue/issue_record/download/");
      $('#select_form').submit();
  });

  // 显示备注信息按钮
  $(".remark-button").click(function(){
     var show_mark = $(this).attr("data")
      swal(show_mark)
  })
 // 显示svn信息按钮
  $(".svn-button").click(function(){
     var show_svn = $(this).attr("data")
      swal({title:"",text: show_svn})
  })


</script>
{% endblock %}